
<div class="search-form">
  <%= link_to (fa_icon "search 4x", text: ""), search_form_path,
      class: "search" %>
</div>
<div class="clearfix"></div>
<h1 class="text-center">Similar to <%= @book.name%></h1>
<div id="tabs" class="c-tabs no-js">
  <div class="c-tabs-nav">
    <a href="#" class="c-tabs-nav__link is-active">Similar to <%= @book.name%></a>
  </div>
  <div class="c-tab is-active">
    <div class="c-tab__content">
      <% @books.each do |book| %>
      <div class="book col-lg-4 col-md-6 col-xs-6 ">
        <p class="text-center book-index-name">
          <%= link_to book.name, book, class: "book-link" %>
          <% if (!current_user.books.include?(book)) %>
          <%= link_to (fa_icon "plus", text: ""), add_to_library_path(book) %>
          <% end %>
          <% if(current_user.admin?) %>
          <%= link_to (fa_icon "pencil", text: ""), edit_book_path(book) %>
          <%= link_to (fa_icon "times", text: ""), book, method: :delete,
              data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
        <p class="center">
          <%= link_to image_tag(book.thumbnail.url(:small),
              class: "book-thumbnail"), book %>
        </p>
      </div>
      <% end %>
      
    </div>
  </div>
 


