<div id="search-form" class="form">

<%= form_for(Book.new, url: search_path) do |f| %>

<br/>
<br/>
<br/>

<div class="tag-title">
  <h2> Search your book by name and/or author: </h2>
</div>

<div class="name-book">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
</div>

<div class="author-book">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control" %>
</div>

<div class="tag-title">
  <h2> Search your book by tags: </h2>
</div>
<div class="tag-grid">
  <ul class="tag-grid-ul">
      <% @tags.each do |t| %>
        <li>
          <div class="form-group">
            <%= check_box_tag "tags[]", t.id %>
            <%= f.label t.name  %>
          </div>
        </li>
      <% end %>
  </ul>
</div>

<div class="actions">
    <%= f.submit "Search", id: 'search_books_button' %>
</div>
<% end %>
</div>
