<div class="col-xs-6">
  <h1 class="text-center">Search results:</h1>
    <% @searched_books.each do |book| %>
    <div class="book col-lg-4 col-md-6 col-xs-6 ">
        <p class="text-center book-index-name"><%= link_to book.name, book %></p>
        <%= link_to image_tag(book.thumbnail.url(:small), class: "book-thumbnail"), book %>
    </div>
    <% end %>
</div>

<div class="col-xs-6">
    <div class="will_paginate">
        <%= will_paginate @searched_books, :param_name => 'books_page' %>
    </div>
</div>

<%= link_to 'Back to search', search_form_path %>
<%= link_to 'Back', books_path %>
