<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<%= @book.tags %>
<!-- <% @reader.pages.each do |page| %>
    <%= page.text %>
<% end %> -->

<%= link_to "display using the full viewer", pdfjs.full_path(file: @book.document.url) %>
<%= link_to "display using the minimal viewer", pdfjs.minimal_path(file: @book.document.url) %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
