<!DOCTYPE html>
<html>
    <head>
        <title>Sakuragi</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag 'favicon.png' %>
    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                  <% if user_signed_in? %>
                    <li class="sidebar-brand">
                        <div class="user-info-index">
                            <div class="avatar">
                                <%= image_tag(current_user.avatar.url(:small)) %>
                            </div>
                            <h2 class="user-name"><%= current_user.name %>
                                <%= current_user.last_name %></h2>
                        </div>
                    </li>
                    <li>
                        <%= link_to 'Home', root_path %>
                    </li>
                    <li>
                        <%= link_to 'Upload new book', new_book_path %>
                    </li>
                    <li>
                        <%= link_to 'Books', books_path %>
                    </li>
                    <li>
                        <%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %>
                    </li>
                <% else %>
                <li>
                    <%= link_to 'Home', root_path %>
                </li>
                <li>
                    <%= link_to 'Log In', new_user_session_path, class: 'login-path' %>
                </li>
                <li>
                    <%= link_to 'Sign In', new_user_registration_path, class: 'sign-up-path' %>
                    <br/>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <% if notice %>
                    <p class="notice" <%= notice %></p>
                    <% end %>
                    <% if alert %>
                <p class="alert" <%= alert %></p>
                <% end %>
                <% if flash.count > 0 %>
                <div id="flash">
                <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
              </div>
                <%- end -%>
                <% end %>
                <div class="icon-rise">
                  <a href="#menu-toggle" id="menu-toggle"><%= image_tag 'logo.png' %></a>
                </div>
                <%= yield %>
            </div>
        </div>
    </div>
</div>
<!-- /#wrapper -->
</div>
<script>
$("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
</body>
</html>
